* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.1);
  height: 100vh;
}
.darkmode{
    border-radius: 50%;
    background:white;
    margin-left:12rem;
    margin-top:-1rem;
    cursor:pointer;
}
.header {
  font-size: 20px;
  margin-left: 6.5rem;
  letter-spacing: 0.1px;
  color: blue;
}
form {
  border-radius: 10px;
  background: #fff;
  padding: 2rem;
  margin-top: 1rem;
  width: 100%;
  box-shadow: 0px 1px 0px rgb(0, 0, 0, 0.2);
}
.heading {
  margin-left: 4.3rem;
  font-family: sans-serif;
  font-size: 13px;
}
input {
  border: 2px solid rgb(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 8rem;
  border-radius: 5px;
}
.btn1 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  background: blue;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 1rem;
}
a {
  color: blue;
  display: block;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
}
input:focus {
  outline: none;
  border: rgb(0, 0, 0, 0.1) 2px solid;
}
::placeholder {
  overflow: visible;
}
h5 {
  color: gray;
  display: block;
  text-align: center;
  margin-top: 10px;
}
.btn2 {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgb(48, 212, 48);
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 17px;
  width: 75%;
  color: #fff;
  font-weight: bold;
  margin-left: 13%;
  margin-top: 1rem;
}
@media(max-width:600px){
    form{
        width:85%;
        margin-left:2rem;
    }
    input{
        padding-left:0;
        width:36vh;
        text-overflow: ellipsis;
    }
    .btn1{
        width:100%;
    }
    .heading{
margin-left:4rem;
    }
    a{
        font-size:15px;
    }

}